.nav {
  background: black;
  display: flex;
  height: 4vw;
  margin-top: 0.1vw;
  padding: 3vw 2vw 4vw 2vw;
  width: 100%;
}

.buscarRaza {
  display: flex;
  font-size: 2vw;
  margin-bottom: 2vw;
}
.buscarRaza input {
  background: black;
  border-color: rgb(21, 183, 21);
  border-radius: 0.5vw;
  color: white;
  font-size: 1.4vw;
  height: 2.5vw;
  margin-left: 1vw;
  width: 15vw;
}
.buscarRaza input:focus {
  outline: none;
}

.ordenar {
  margin-top: 4vw;
}
.selectOrden {
  font-size: 1.5vw;
  margin-left: 3vw;
  margin-top: 0.5vw;
}

.selectOrden select {
  background: black;
  border-radius: 0.5vw;
  color: white;
  font-size: 1.2vw;
  height: 2.5vw;
  margin-left: 1vw;
  width: 12vw;
}
.selectOrden select:focus {
  border-color: rgb(21, 183, 21);
}

.crearRaza {
  background: black;
  border-color: white;
  border-radius: 0.5vw;
  color: white;
  font-size: 1.5vw;
  height: 3vw;
  margin: 0.1vw 0vw 0vw 6vw;
  transition: all ease 0.2s;

  width: 10vw;
}
.crearRaza:hover {
  border-color: rgb(21, 183, 21);
  box-shadow: 0 0 10px 2px rgb(21, 183, 21);
  color: rgb(21, 183, 21);
  cursor: pointer;
  /* font-weight: bold; */
  font-size: 1.4vw;
}

.labelInput {
  color: white;
}
.selectOrden {
  color: white;
}

.nav ul button {
  background: black;
  border-color: rgb(21, 183, 21);
  border-radius: 1vw;
  border-style: groove;
  color: white;
  font-size: 2vw;
  margin-right: 2vw;
  padding: 1vw;
}
.nav ul button:hover {
  box-shadow: 0 0 10px 2px rgb(21, 183, 21);
  cursor: pointer;
}
